* {
font-family: sans-serif, monospace ;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
margin: 0;
padding: 0;

}
body{
    overflow-x: hidden;
}

#sidebar-toggle {
    display: none;
}

.body-label {
    position: fixed;
    height: 100%;
    width: calc(100% - 200px);
    z-index: 30;
    right: -100px;
    top: 0;

}

#sidebar-toggle:checked ~ .sidebar {
    left: -100%;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 0;
    width: 100%;
    right: 0;
}

#sidebar-toggle:checked ~ .main-content{
    margin-left: 0;
}

.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: rgb(8, 48, 65);
    color: #fff;
    z-index: 20;
    transition: left 300ms;

}

.sidebar-brand{
    height: 70px;
}

.brand-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar-user {
    margin: 0rem 0rem 1rem 0rem ;
    text-align: center;
}

.sidebar-user img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
}

.sidebar-user h3{
    font-size: 1rem ;
}

.sidebar-user span{
    font-size: .8rem ;
}

.sidebar-menu{
    margin-top: 3rem;
}

.menu-head{
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 600;
    margin-top: .8rem;
}

.sidebar-menu ul{
    margin-bottom: 1.5rem;
}

.sidebar-menu li{
    margin-bottom: .8rem;

}

.sidebar-menu li a{
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a span{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;
}


header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: left 300ms;
    z-index: 20;
    background: #fff;

}

.menu-toogle label {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.header-icons span{
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;

}

.menu-toogle label:hover {
 background: #efefef;

}

.main-content{
    margin-left: 200px;
    transition: margin-left 300ms;

}

main{
    padding: 1rem;
    background: #f1f5f9 ;
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-actions button{
    outline: none;
    background: #5850ec;
    color: white;
    border: 3px solid #ccc;
    padding: .5rem 1rem;
    margin-left: 1rem;
    border-radius: 3px;
    font-weight: 600;
}

.header-actions button span {
    font-size: 1.2rem;
    margin-right: .6rem;
}


@media only screen and (max-width: 1124px) {
    .sidebar{
        left: -100%;
        z-index: 30;
    }

    .main-content{
        margin-left: 0 ;
    }

    header{
        left: 0;
        width: 100%;
    }

    #sidebar-toggle:checked ~ .sidebar {
        left: 0;
    }

    #sidebar-toggle:checked ~ .body-label {
        right: 0;
    }
}